<html>
<head>
  <title>App Proyecto Meta Tias</title>
</head>
<body>
<header>
  <h1>App Proyecto Metaerras: Ayuda a la recolección de datos para la regularización de tierras en Colombia</h1>
</header>
<main>
  <div class="principal">
    <div class="contenido-pair">
      <h2>Recolección</h2>
      <img src="assets/images/recoleccion.jpg" alt="Imagen de recolección">
    </div>
    <div class="contenido-pair">
      <h2>Título</h2>
      <p>titulo</p>
      <!--<img src="imagen_titulo.jpg" alt="Imagen de título">-->
    </div>
    <div class="contenido-pair">
      <h2>Regulación</h2>
      <img src="assets/images/regulacion.png" alt="Imagen de regularización">
    </div>
  </div>

  <div class="contenido">
    <p>App para la ayuda a la recolección de datos en campo para la regularización de tierras en Colombia:</p>
    <ul>
      <li> Recopila información identificativa de propietarios.</li>
      <li>Permite a los propietarios medir sus predios mediante el GPS del móvil o digitalización.</li>
      <li>Toma imágenes de documentos legales que justifiquen la tenencia de la tierra.</li>
    </ul>
    <div class="button-container">
      <button mat-raised-button color="primary" routerLink="main">INICIAR</button>
      <button mat-raised-button color="accent">AYUDA</button>
      <button mat-raised-button color="warn">ACERCA DE</button>
    </div>
  </div>

</main>

<div class="footerPI">
  <img src="assets/images/etsigct.png" alt="Logo 1">
  <img src="assets/images/upv.png" alt="Logo 2">
  <img src="assets/images/forjandoFuturos.png" alt="Logo 3">
</div>
</body>
</html>
