<div class="container">
  <h2>Avanzado</h2>
  <mat-form-field class="custom-input">
    <mat-select [(ngModel)]="selectedRefSystem" >
      @for (refSystem of refSystems; track refSystem) {
        <mat-option [value]="refSystem.code">{{refSystem.code}}</mat-option>
      }
    </mat-select><!--
    <mat-select [(ngModel)]="selectedRefSystem" (change)="onRefSystemChange(selectedRefSystem)">
      @for (refSystem of refSystems; track refSystem) {
        <mat-option [value]="refSystem.code">{{refSystem.code}}</mat-option>
      }
    </mat-select>-->
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button [disabled]="true" routerLink="/configurar-servicio-wms">Añadir servicio WMS</button>
    <button mat-raised-button [disabled]="authService.token!=''" routerLink="establecer-conexion">Establecer conexión</button>
    <button mat-raised-button [disabled]="!(authService.token!='' && !authService.isTokenValid)" (click)="iniciarSesion()">Iniciar sesión</button>
    <button mat-raised-button [disabled]="!(authService.token!='')" (click)="cerrarSesion()">Cerrar sesión</button>
    <button mat-raised-button [disabled]="true" routerLink="/descargar-cartografia">Descargar cartografía para trabajo offline</button>
    <button mat-raised-button [disabled]="true" >Borrar todos los datos del móvil</button>
    <button mat-raised-button (click)="goBack()">Atrás</button>
  </div>
</div>
