.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.listaDocumentos {
  width: 80%;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.documento {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 5px;
  background-color: #94b7e1;
  color: #fff;
}

/*
button {
  width: 80%;
  height: 50px;
  margin: 10px;
  background-color: #256ec5;
  color: #fff;
}
*/
