.scrollContent {
    background-color: gray;
    height: 100px;
    overflow-y: scroll;
    font-weight: bold;
}

.alert {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}