html { height: 100%; }
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  background-color: #000000;
  color: white;
  text-align: left;
  padding: 10px;
}

.header h1 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}


footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button[mat-raised-button] {
  width: 80%;
  background-color: black !important;
  color: white !important;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 10px auto;
  display: block;
  transition: background-color 0.3s ease;
  height: 60px;
  line-height: normal;
}


button[mat-raised-button]:active {
  background-color: #6c6c6c;
}

.list {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-item {
  width: 80%;
  background-color: #626262;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px 0;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.list-item:hover {
  background-color: #555;
}

.ol-control button {
  width: auto;
  height: auto;
  background-color: #bebebe;
  color: initial;
  padding: initial;
  font-size: initial;
  margin: initial;
  transition: none;
}


.ol-control button:active {
  background-color: initial;
}

#contenedorMapa {
  height: 50vh;
  border: 2px solid yellow;
  width: 80%;
}
.imagenes-container {
  display: flex;
  flex-wrap: wrap;
}

.imagen-wrapper {
  max-width: 350px;
  max-height: 350px;
  margin-right: 10px;
  position: relative;
}

.imagen-preview {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.eliminar-imagen {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 5px;
  padding: 2px 5px;
  font-size: 12px;
}

.badge {
  background-color: #007bff;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 10px;
  margin-left: 10px;
}

button[disabled]  {
  background-color: grey !important;
  color: darkgray !important;
  cursor: not-allowed !important;
}
